/* 
    Created on : Sep 30, 2017, 6:10:16 PM
    Author     : Dylan Storts
*/

#game_panel{
    margin-left: 100px;
    width: 400px;
    height: 400px;
}

.row{
    /*
    100px square per element
    */
    width: auto;
    height: 100px;
    padding: 0
}
.E{
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px;
    
    background-color: red;
    border: solid black 2px;
}


